/*
folha de estilo de kev para o grupo os paiassss
*/

/* css reset */
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* importaçao google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* layout */
.container {
    margin: 0 auto;
    background-color: black;
}

/* Smartphone Portrait */

/* Smartphone Landscape */
@media (min-width: 576px){
    body{
        background-color: rgb(14, 14, 110);
    }
    /* layout */
    .container {
        max-width: 540px;
    }
}

/* tablet portrait */

@media (min-width: 768px){
    body{
        background-color: rgb(110, 14, 86);
    }
    /* layout */
    .container {
        max-width: 620px;
}

/* tablet landscap */
@media (min-width: 992px){
    body{
        background-color: rgb(8, 119, 32);
    }
    /* layout */
    .container {
        max-width: 960px;
}

/* pc */
@media (min-width: 1200px){
    body{
        background-color: rgb(223, 139, 13);
    }
    /* layout */
    .container {
        max-width: 1140px;
}